.logo_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
    color:white;
}

.globealticon {
    height: 3rem;
    width: 3rem;
    --tw-rotate: 15deg; /*tailwind: rotate-[15deg]*/
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.logo_text {
    font-size: 44px;
}
