.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 640px)
{
    .main {
        height: 100vh;
    }

}


// md	768px	

@media (min-width: 768px)
{
    .main {
        height: 100vh;
    }
}
